@use '../../default/extendables'as *;


.root-panel {
    display: flex;
    flex-direction: column;
    height:100vh;
}

.nav-panel {
    order:2;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-self: flex-end;
    background-color: $dark;


    .bottom-bar-title {
        display: flex;
        flex-direction: row;
        flex-basis: content;
        width:100%;
        background-color: $light;
        padding:10px;
        align-items: center;
    }
    .bottom-bar {
        height: 60px;
        display: flex;
        flex-direction: row;
        flex-basis: content;
        width:100%;
        text-align: center;
        align-items: center;
    
        .dropdown-menu {
            transform: translate3d(-52%, -54px, 0px);
        }
    
        a,
        a.nav-link,
        a.nav-link:hover {
            color: white;
            height: 100%;        
        }
    
        a i::before {
            margin-top:10px;
        }
    
        a.nav-link.active {
            background-color: $accent-pri-color;
        }
    }
    
    .bottom-bar a, .bottom-bar>div {
        flex:1 1 auto;
        border-right:1px solid override-contrast('dark','hint');
    }
    .bottom-bar a:last-child {
    border-right: 0px;
    }
    
    // Sidebar Styles - START
    .sidebar {
        transition: width 0.1s ease-out;
        width: 280px;
        display: none;
        
        hr {
            background-color: override-contrast('dark');
        }
        .dropdown-menu .nav-link:hover,
        a.nav-link:hover {
            background-color: rgba(255, 255, 255, 0.15) !important;
        }
    
        a,
        a.nav-link,
        a.nav-link:hover {
            color: white;
        }
    
        a.nav-link.active {
            background-color: $accent-pri-color;
    
            keymap {
                color: override-contrast('dark');
            }
        }
    }
    
    .iconsOnlyBar {
        width: 80px;
        padding: 0px !important;
    
        ul li {
            max-width: 100% !important;
        }
    
        >a {
            margin-top: 1rem;
        }
    
        >a,
        >ul li>a,
        >div>a {
            display: block !important;
            width: 100% !important;
            text-align: center;
            border-radius: 0px!important;
        }
    
        .dropdown>a {
            margin-bottom: 1rem;
        }
    
        a div {
            display: block !important;
            text-align: center;
            width: 100%;
        }
    
    
        a span,
        a::after,
        button span {
            display: none;
        }
    
        button {
            margin-left: auto;
            width: auto !important;
            margin-right: auto;
            display: block;
        }
    
        >ul li a>i,
        >a>i,
        >div>a>div>i {
            margin: 0px !important;
            font-size: 1.5rem;
        }
    
        .dropdown ul {
            transform: translate3d(80px, -7px, 0px) !important;
        }
    
    
    }
    

}

@include media-breakpoint-up(lg) {
    .root-panel { 
        flex-direction: row;
    }
    .nav-panel {
        order:0;
        height:100vh;

        .bottom-bar-title, .bottom-bar {
            display: none;
        }
        .sidebar {
            display: flex;
        }
    }
}

// Sidebar Styles - END