@forward 'variables';
@forward 'functions';


@use 'variables'as var;
@use 'functions'as fn;

@use 'fonts/poppins.scss';


$primary: var.$accent-pri-color;
$secondary:  var.$accent-sec-color;
$body-color: fn.contrast();
$body-bg: var.$primary-color;

$input-bg:var.$input-bg-color;
$input-border-color: fn.contrast('disabled');
$input-color:var.$accent-sec-color;
$input-focus-border-color:$secondary;
$input-focus-box-shadow: -4px 0px;

$badge-font-weight: normal;

// Option B: Include parts of Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

//@import 'bootstrap/grid';
//@import 'bootstrap/utils';
//@import 'bootstrap/card';

%user-controls {
  font-size: 1rem;
  margin-bottom: 5px;
}

%input-controls {
  @extend %user-controls;
  -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
  width: 100%;
  line-height: 1.2rem;
  border:1px solid transparent;
  border-radius: 0px;
  padding:10px 10px;
  background-color: fn.contrast('hint');
  border: 1px solid fn.contrast('disabled');
  color:var.$accent-sec-color;
  outline: transparent;
}

%input-controls-hover {
  border:1px solid var.$accent-sec-color;
}

%select-control {
  @extend %input-controls;
  background: fn.contrast('hint') url("data:image/svg+xml;utf8,<svg fill='#{fn.contrast()}' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") right center;
  background-repeat: no-repeat;
  background-size: 40px;
  //background-position-x: 100%;
  //background-position-y: 0px;
}

%button-style {
  border-radius: 5px;
  background-color: var.$accent-sec-color;
  color: fn.override-contrast(var.$theme-mode-opp);
  border: 1px solid var.$accent-sec-color;
}

%button-style-hover {
  background-color: var.$secondary-color;
  color: fn.contrast();
  border-color: var.$secondary-color;
}

%link-style {
  text-decoration: none;

  color: var.$accent-sec-color;
}

%link-style-hover {
  color: var.$secondary-color;
}


%heading-1 {
  font-family: unquote("Poppins");
  font-size: 2.5rem;
  font-weight: 700;
}

%heading-2 {
  font-family: unquote("Poppins");
  font-size: 2rem;
  font-weight: 400;
}

%heading-3 {
  font-family: unquote("Poppins");
  font-size: 1.75rem;
  font-weight: 400;
}

%heading-4 {
  font-family: unquote("Poppins");
  font-size: 1.5rem;
  font-weight: 400;
}

%heading-5 {
  font-family: unquote("Poppins");
  font-size: 1.25rem;
  font-weight: 400;
}

%heading-6 {
  font-family: unquote("Poppins");
  font-size: 1rem;
  font-weight: 400;
}

%body {
  font-family: unquote("Poppins");
  font-size: 1rem;
}

%subtitle-1 {
  font-family: unquote("Poppins");
  font-size: 1.2rem;
}

%subtitle-2 {
  font-family: unquote("Poppins");
  font-size: 1rem;
}

%overline {
  font-family: unquote("Poppins");
  font-size: 0.625rem;
}

%caption {
  font-family: unquote("Poppins");
  font-size: 0.75rem;
}