@use 'variables' as var;

@function contrast($type: 'primary') {
  @return map-get(map-get(var.$contrast-colors, var.$theme-mode), $type);
  }
  
  @function override-contrast($background: '', $type: 'primary') {
    @if $background == '' {
      $background: var.$theme-mode;
    }
    @return map-get(map-get(var.$contrast-colors, $background), $type);
  }
  