@use "sass:color";

$theme-mode: 'light';

$theme-mode-opp: 'dark';
@if $theme-mode == 'dark' {
  $theme-mode-opp: 'light';
}

$primary-color: #ffffff; // 60% - background color
$secondary-color: #2ec4b6; // 15% (+15% from ForegroundColor<Light/Dark>)
$accent-sec-color: #5e6472; // 10% - Input text color
$accent-pri-color: #ff9f1c; // 10% - Button and link color


$positive-color: green;
$negative-color: red;
$neutral-color: Grey;

$contrast-colors: (
  'dark': (
    'primary': rgb(255, 255, 255),
    'secondary': rgba(255, 255, 255, .70),
    'disabled': rgba(255, 255, 255, .5),
    'hint': rgba(255, 255, 255, .12)
  ),
  'light': (
    'primary': rgba(0, 0, 0, .87),
    'secondary': rgba(0, 0, 0, .54),
    'disabled': rgba(0, 0, 0, .38),
    'hint': rgba(0, 0, 0, .12)
  ),
);

$font-stack:    "Poppins";